<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NovaOpcao.Properties.Settings.NOVAOPCAODBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename=C:\BandoNovaOpcao\NOVAOPCAODB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True; " />
        <add name="NovaOpcao.Properties.Settings.ClientNOVAOPCAODBConnectionString"
            connectionString="Data Source=|DataDirectory|\NOVAOPCAODB.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="NovaOpcao.Properties.Settings.NOVAOPCAODBCLIENTES"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NOVAOPCAODB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
